@font-face {
    font-family: Raleway;
    src: url("/portfolio_bootstrap/assets/Raleway-Regular.ttf");
}

@font-face {
    font-family: RalewaySemiBold;
    src: url("/portfolio_bootstrap/assets/Raleway-SemiBold.ttf");
}

body{
    background-color: #101f73;
}

.dlh_logo {
  width: 3.125rem;
}

.navbar-toggler {
  border: #f23030 1px solid;
  border-color: #f23030 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(242, 48, 48)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-body-tertiary {
  background-color: #101f73 !important;
}

.offcanvas {
  background-color: #101f73;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #f26b6b !important;
}

.btn-close {
  color: rgb(95, 159, 255) !important;
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
}

.ditte_cover {
  background-color: #101f73;
  margin-top: 5rem;

}

.card{
  background-color: #F0F0F2;
  box-shadow: black 0,3,2;
}

.card-custom{
  background-color: #F0F0F2;
}

.btn{
  background-color: #f23030;
  color: #F0F0F2;
  text-transform: uppercase;
  font-family: RalewaySemiBold;
}


